<div class="modal-header">
  <h5 class="modal-title">Login</h5>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()"></button>
</div>

<div class="modal-body">
  <form (ngSubmit)="showOtpInput ? login() : sendOtp()">
    <!-- Phone input -->
    <div *ngIf="!showOtpInput">
      <label for="phone" class="form-label">
        Phone Number
        <i class="fab fa-whatsapp ms-1" style="color:#1ca34d;"></i>
      </label>

      <div class="input-group mb-3">
        <span class="input-group-text"><i class="fas fa-phone"></i></span>
        <input type="tel" class="form-control" id="phone" [(ngModel)]="phone" name="phone"
          placeholder="Enter phone number" required />
      </div>
      <div class="d-flex justify-content-center">
      <button type="submit" class="btn btn-primary" [disabled]="isSendingOtp"> <!-- (click)="sendOtp()"> -->
        <span *ngIf="!isSendingOtp">Send OTP</span>
        <span *ngIf="isSendingOtp">
          <span class="spinner-border spinner-border-sm me-2"></span>
          Sending...
        </span>
      </button>
      </div>

    </div>

    <!-- OTP input -->
    <div *ngIf="showOtpInput">
      <label for="otp" class="form-label">OTP</label>
      <div class="d-flex justify-content-center gap-2 mb-3">
        <input *ngFor="let ctrl of otpControls; let i = index" type="text" class="form-control otp-input" maxlength="1"
          (input)="onOtpInput($event, i)" (keydown.backspace)="onOtpBackspace($event, i)" #otpInput />
      </div>
      <div class="d-flex justify-content-center">
      <button type="submit" class="btn primary">Login</button>
      </div>

      <div class="text-center mt-3">
        <small class="text-muted">
          OTP sent to <i class="fab fa-whatsapp ms-1" style="color:#1ca34d;"></i><strong> {{ phone }}</strong>
          <button type="button" class="btn btn-link p-0 ms-2" (click)="showOtpInput = false">
            <i class="fas fa-edit"></i>
          </button>
        </small>
      </div>
    </div>
  </form>
</div>