<!-- <div class="modal-header">
  <h5 class="modal-title">Login</h5>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()"></button>
</div> -->

<!-- <div class="modal-body"> -->
<div class="login-backdrop">

  <div class="login-modal">
    <!-- Left Section -->
    <div class="login-left">
      <div class="brand">The<span
          class="brand-span">NearBy</span>Shop<span class="brand-com">.com</span></div>

      <h2 class="headline">
        Lowest Prices Everyday<br />
        <span>in minutes</span>
      </h2>

      <!-- Phone input -->
      <form (ngSubmit)="showOtpInput ? login() : sendOtp()">
        <div *ngIf="!showOtpInput" class="input-wrapper">
          <div class="phone-input">
            <span class="country-code">+91</span>
            <input type="tel" placeholder="Enter Phone Number" [(ngModel)]="phone" name="phone" required />
          </div>

          <button class="continue-btn" [disabled]="isSendingOtp">
            <span *ngIf="!isSendingOtp">Continue</span>
            <span *ngIf="isSendingOtp">
              <span class="spinner"></span> Sending...
            </span>
          </button>

          <p class="terms">
            By continuing, you agree to our
            <a href="#">Terms of Service</a> & <a href="#">Privacy Policy</a>
          </p>
        </div>

        <!-- OTP Section -->
        <div *ngIf="showOtpInput" class="otp-section">
          <h3>Enter OTP</h3>

          <div class="otp-box">
            <input *ngFor="let ctrl of otpControls; let i = index" maxlength="1" class="otp-input"
              (input)="onOtpInput($event, i)" (keydown.backspace)="onOtpBackspace($event, i)" />
          </div>

          <button class="continue-btn">Login</button>

          <p class="otp-info">
            OTP sent to <strong>{{ phone }}</strong>
            <span class="edit" (click)="showOtpInput = false">Edit</span>
          </p>
        </div>
      </form>
    </div>

    <!-- Right Section -->
    <div class="login-right">
      <img [src]="'assets/undraw/mobile_app.png'" class="app-icon" />

      <h2>Order faster & easier<br />everytime</h2>
      <p>with the TheNearByShop App</p>

      <div class="store-buttons">
        <img src="https://upload.wikimedia.org/wikipedia/commons/7/78/Google_Play_Store_badge_EN.svg" />
        <img src="https://developer.apple.com/assets/elements/badges/download-on-the-app-store.svg" />
      </div>
    </div>

    <button class="close-btn" (click)="activeModal.dismiss()">✕</button>
  </div>

</div>