.footer-top {
  background: #3c3c3c;
  color: #fff;
  padding: 30px 40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-description {
  flex: 1;
  min-width: 60%;
}

.footer-social {
  min-width: 200px;
}

.footer-social .social-icons i {
  font-size: 20px;
  margin: 0 10px;
  cursor: pointer;
}

.footer-bottom {
  background: #000;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 30px 40px;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  min-width: 200px;
  margin: 10px 0;
}

.footer-section h4 {
  margin-bottom: 10px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li a {
  color: #fff;
  text-decoration: none;
  display: block;
  margin-bottom: 5px;
}

.footer-section .app-buttons img {
  height: 40px;
  margin: 5px;
  cursor: pointer;
}

.footer-copy {
  text-align: left;
  padding-left: 2rem;
  background: #000;
  color: #888;
  font-size: 14px;
  padding-bottom: 20px;
}
.footer-text {
 font-size: 14px;
}
.footer-header-3 {
  font-size: 14px;
  color: #fff;
}