<div class="footer-top">
  <div class="footer-description">
    <h3 class="footer-heading-3">Shop local, live smart</h3>
    <p class="footer-text">
      Discover nearby grocery stores, juice corners, pharmacies, bakeries, dairy, and more — all in one app. Buy online, visit in person, or subscribe for daily, weekly, or monthly deliveries.
    </p>
  </div>
  <div class="footer-social">
    <h4>Follow Us</h4>
    <div class="social-icons">
      <i class="fab fa-facebook"></i>
      <i class="fab fa-twitter"></i>
      <i class="fab fa-instagram"></i>
    </div>
  </div>
</div>

<div class="footer-bottom">
  <div class="footer-section">
    <h4>Company</h4>
    <ul>
      <li><a routerLink="/about-us">About Us</a></li>
      <li><a routerLink="/policy">Policy</a></li>
      <!-- <li><a routerLink="/fine-print">Universal Fine Print</a></li>
      <li><a routerLink="/returns">Annual Returns</a></li> -->
    </ul>
  </div>

  <div class="footer-section">
    <h4>Help</h4>
    <ul>
      <li><a routerLink="/contact-us">Contact Us</a></li>
    </ul>
  </div>

  <div class="footer-section">
    <h4>Download app</h4>
    <div class="app-buttons">
      <img src="https://upload.wikimedia.org/wikipedia/commons/7/78/Google_Play_Store_badge_EN.svg" alt="Google Play" />
      <img src="https://developer.apple.com/assets/elements/badges/download-on-the-app-store.svg" alt="App Store" />
    </div>
    <p>Customer Care: +91-8948313390 - 11 AM to 4 PM (MON - SUN)</p>
  </div>
</div>

<div class="footer-copy">
  <p>Copyright © VAMS Mechatronica Private Limited. All rights reserved.</p>
  <p>v 1.0.0</p>
</div>
